.svg{
  align-items: center;
}
.node{
  align-items: center;
}
.tooltip{
 
      position: absolute;
      background:#fff;
      visibility: hidden;
      padding: 10px;
      border:solid 1px black;
      border-radius:10px ;
      text-transform: capitalize;
  
  
}